@page "/employeeedit"
@page "/employeeedit/{EmployeeId:int}"
@using EmployeeAuthCrud.Domain.Entities;

@if (!Saved)
{
    <h1 class="card-title">Details for @Employee.FirstName @Employee.LastName</h1>

    <EditForm Model="@Employee" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

        <DataAnnotationsValidator />

        <ValidationSummary></ValidationSummary>

        <div class="form-group row">
            <label for="firstName" class="col-form-label">First name: </label>
            <InputText id="firstName" class="form-control" @bind-Value="@Employee.FirstName" placeholder="Enter first name"></InputText>
            <ValidationMessage For="@(() => Employee.FirstName)" />
        </div>

        <div class="form-group row">
            <label for="lastName" class="col-form-label">Last name: </label>
            <InputText id="lastName" class="form-control" @bind-Value="@Employee.LastName" placeholder="Enter last name"></InputText>
            <ValidationMessage For="@(() => Employee.LastName)" />
        </div>

        <div class="form-group row">
            <label for="birthdate" class="col-form-label">Birthdate: </label>
            <InputDate id="birthdate" class="form-control" @bind-Value="@Employee.BirthDate" placeholder="Enter birthdate"></InputDate>

        </div>
        <div class="form-group row">
            <label for="email" class="col-form-label">Email: </label>
            <InputText id="email" class="form-control" @bind-Value="@Employee.Email" placeholder="Enter email"></InputText>
          
        </div>
 
        <div class="form-group row">
            <label for="phonenumber" class="col-form-label">Phone number: </label>
            <InputText id="phonenumber" class="form-control" @bind-Value="@Employee.PhoneNumber" placeholder="Enter phone number"></InputText>
        </div>

      
        <div class="form-group row">
            <label for="joineddate" class="col-form-label">Joined on: </label>
            <InputDate id="joineddate" class="form-control" @bind-Value="@Employee.JoinedDate" placeholder="Enter date joined"></InputDate>
        </div>

        <div class="form-group row">
            <label for="exitdate" class="col-form-label">Left on: </label>
            <InputDate id="exitdate" class="form-control" @bind-Value="@Employee.ExitDate" placeholder="Enter exit date"></InputDate>
        </div>

        <div class="form-group row">
            <label for="comment" class="col-form-label">Comment: </label>
            <InputTextArea id="comment" class="form-control" @bind-Value="@Employee.Comment" placeholder="Enter comment"></InputTextArea>
        </div>

        <button type="submit" class="btn btn-primary">Save employee</button>

    </EditForm>
}
else
{
    <div class="@StatusClass">@Message</div>
}
